body {
    font-family: Roboto, Afacad Flux, Noto Sans, Inter, Montserrat;
    background-color: black;
}
.wrapper {
    max-width: 1000px;
    margin:0 auto;
}

/* HEADER */
header {
    display: flex;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    margin-right: 1rem;
    gap: 8rem;
    height:6rem;
    border-bottom: 1px solid gray;
}
.header-flex {
    display: flex;
    align-items: center;
}
.logo {
    width:10rem;
}
header nav a{
    text-decoration: none;
    color:white;
    padding: 10px;
    font-size: 0.8rem;
}
header .search {
    gap:1rem;
}
.search .search-bar {
    position: relative;
}
.search-bar input {
    width:6rem;
    height:1.2rem;
    color:white;
}
.search-bar i {
    width:6rem;
    height:1.2rem;
    color:white;
    position: absolute;
    left:4.8rem;
    top:0.1rem;
}
.bell{
    font-size: 1.2rem;
    color:white;
}
.profile {
    width:2rem;
    height: auto;
    aspect-ratio: 1/1;
    object-fit: cover;
    border: 1px solid white;
    border-radius: 50%;
    border-color: white;
}

/* MAIN */
 .hero-content {
    display: flex;
    flex-direction: column;
    row-gap:2rem;
    margin: 1rem 1.5rem;
    padding:1.5rem;
    color:white;
    background-image: url("https://images.squarespace-cdn.com/content/v1/521dec4de4b0912f523f3b56/1636288167116-W44IFJZKNMKSQOC9QBN5/dune-poster.jpg?format=2500w");
    background-repeat: no-repeat;
    background-size: cover;
}
.hero-content h1 {
    font-size: 3rem;
}
.hero-content .movie-info {
    display: flex;
    align-items: center;
    gap: 1rem;
}
.hero-content .user-ratings {
    display: flex;
    gap: 0.5rem;
}
.user-ratings .user-rating{
    color:#FF0000;
}
.user-ratings .imdb-rating {
    font-weight: bold;
}
.user-ratings .imdb {
    color:gainsboro;
}
.maturity-rating {
    border: 2px solid black;
    padding:0 10px;
    border-radius: 3px;
    font-size:0.8rem;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
}
.duration {
    font-weight: bold;
}
.movie-details {
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
}
.movie-details span{
    color:#FF0000;
    font-weight: 600;
    margin-right: 1rem;
}
.btn-lg {
    background-color: #FF0000;
    color:white;
    border: 1px solid black;
    padding:0.7rem;
    border-radius: 0.5rem;
}

/* SECTION */
section {
    display:flex;
    flex-direction: column;
    row-gap: 2rem;
    margin: 2rem 1.5rem;
}
.suggestions-row {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}
.suggestions-row .suggestion-content{
    display: flex;
    justify-content: space-between;
}
.suggestion-title {
    font-weight: bold;
    color:white;
    font-size: 1.5rem;
}
.suggestion-item-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 2rem;
    padding: 1rem;
    background-color: #7F7F7F;
    color:white;
    width: 15rem;
    height: 10rem;
    font-size: 0.8rem;
}
.suggestion-item-content h3 {
    font-size: 2rem;
}
.suggestion-item-content .suggestion-details {
    display: flex;
    gap: 1rem;
    align-items: center;
}
.btn-md {
    background-color: #FF0000;
    color:white;
    border: 1px solid black;
    padding:0.4rem;
    border-radius: 0.3rem;
}

/* FOOTER */
footer {
    display: flex;
    justify-content: space-between;
    margin: 2rem 1.5rem;
    margin-top: 5rem;
    font-size: 0.7rem;
    color:white;
}
.footer-head {
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    font-size: 0.8rem;
}
.footer-head-aw {
    width: 18rem;
}
.footer-head a{
    text-decoration: none;
    color: white;
}
.footer-social {
    display: flex;
    justify-content: space-between;
    width: 5rem;
}
.fa-brands{
    font-size: 1.2rem;
}
.fa-facebook{
    color:#4267B2
}
.fa-youtube {
    color:#FF0000
}
.fa-twitter {
    color:#1DA1F2
}
.footer-apps {
    display: flex;
    justify-content: space-between;
    width: 3rem;
}


/* MOBILE */
@media(max-width:450px){
    header {
        height: 5rem;
        position:relative;
        padding-bottom: 1rem;
    }
    header nav{
        position:absolute;
        bottom:5%;
        font-size:0.4rem;
    }
    header .logo {
        width:5rem;
    }
    .suggestion-item-hid {
        display:none;
    }
    .hero-content {
        margin: 1rem 0.3rem;
        background-position: center;
    }
    section {
        margin: 2rem 0.3rem;
    }
    footer {
        margin: 2rem 0.3rem;
        flex-direction: column;
        row-gap:2.5rem;
    }
    .suggestion-item-content {
        width: 20rem;
    }
}